## Assignment - Part 2: Get geocoordinates for each Postal Code

Get geocoordinates (latitude and longitude) for postal codes from the dataframe which was created in Part1 of the assignment.

#### 1. Read CSV that contains latitude and longitude

In [1]:
import pandas as pd

In [2]:
geodata_filename = "https://cocl.us/Geospatial_data"
# read data and create data frame
df_coord = pd.read_csv(geodata_filename)
print("Shape of df_coord: ", df_coord.shape)
df_coord.head()

Shape of df_coord:  (103, 3)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### 2. Rename column header 'Postal Code' to 'PostalCode'. This is to match the sample output shown in the instructions.

In [5]:
df_coord.columns= ["PostalCode", "Latitude", "Longitude"]
df_coord.head(2)

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497

#### 3. Read CSV generated as part of Postal Code transformation in Part 1 of this assignment

In [11]:
# read data and create data frame
df_postcode = pd.read_csv("C:/Users/{myName}/OneDrive/Desktop/export_postalcode.csv")
print("Shape of df_postcode: ", df_postcode.shape)
df_postcode.head()

Shape of df_postcode:  (103, 3)

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

#### 4. Merge dataframes that contains neigborhoods and geocoordinates

In [15]:
# merge dataframes on column PostalCode
df_merged = pd.merge(df_postcode, df_coord, on='PostalCode')
# two new columns (latitude and Longtitude) should be in merged dataframe
print("Shape of df_merged: ", df_merged.shape)
df_merged.head(15)

Shape of df_merged:  (103, 5)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park,Ionview,Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea,Golden Mile,Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest,Cliffside,Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff,Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park,Scarborough Town Centre,Wexford He...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale,Wexford",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners,Sullivan,Tam O'Shanter",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North,L'Amoreaux East,Milliken,Steel...",43.815252,-79.284577

#### 5. Export merged dataframe to CSV file to use in Part3

In [20]:
export_csv = df_merged.to_csv (r'C:\Users\{myName}\OneDrive\Desktop\export_merged.csv', index = None, header=True)